@use 'base/variables' as v;
@use 'base/mixins' as m;

.tabs{

    @include m.tablet{
        display: flex;   
    }
    button{
        background-color: v.$azul;
        border:none;
        color: v.$blanco;
        padding: 1rem ;
        display: block;
        width: 100%;
        margin-bottom: 1rem ;
        text-transform: uppercase ;
        font-weight:v.$bold ;
        transition:background-color 300ms ease;

        &:hover{
            cursor:pointer ;
            background-color: darken(v.$azul, 10%) ;
        }
        &.actual{
            background-color: v.$blanco;
            color: v.$azul;
        }


    }
}

.flatpickr-calendar.inline {
    display: block;
    position: relative;
    margin-top: 15px;
    top: 0;
}

.flatpickr-calendar {
    margin-top: 50px;
    width: 95%; /* Ajuste de ancho para pantallas pequeñas */
    max-width: 100%; /* Asegura que el calendario no exceda el ancho de la pantalla */
    height: auto; /* Deja que la altura se ajuste automáticamente */
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    
    @include m.tablet {
        width: 85%; /* Ajuste del ancho para pantallas medianas */
    }


}

.flatpickr-calendar .flatpickr-months {
    height: 4rem;
    width: 100%;
    box-sizing: border-box;
}

.flatpickr-calendar .flatpickr-days {
    font-size: 0.9rem; /* Ajuste del tamaño del texto para pantallas pequeñas */
    width: 100%;
    box-sizing: border-box;
}

.flatpickr-calendar .flatpickr-day {
    height: 2.5rem; /* Ajuste de altura para pantallas pequeñas */
    font-size: 1.2rem; /* Ajuste de tamaño de fuente para pantallas pequeñas */
    line-height: 2.5rem; /* Centra el texto verticalmente */
    width: 2.5rem; /* Ajuste de ancho para pantallas pequeñas */
    box-sizing: border-box;
    
    @include m.tablet {
        height: 3rem;
        width: 3rem;
        font-size: 1.5rem;
    }


}

.flatpickr-calendar .flatpickr-weekday {
    font-size: 1rem; /* Ajuste del tamaño del texto para pantallas pequeñas */
    box-sizing: border-box;
}

.flatpickr-calendar .flatpickr-prev-month,
.flatpickr-calendar .flatpickr-next-month {
    font-size: 1rem; /* Ajuste del tamaño del texto de los botones de navegación para pantallas pequeñas */
    width: 2rem; /* Ajuste del ancho de los botones de navegación para pantallas pequeñas */
    height: 2rem; /* Ajuste de la altura de los botones de navegación para pantallas pequeñas */
    box-sizing: border-box;

    @include m.tablet {
        font-size: 1.2rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    @include m.desktop {
        font-size: 1.2rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

.flatpickr-calendar .flatpickr-confirm-button {
    font-size: 0.9rem; /* Ajuste del tamaño del texto del botón de confirmación para pantallas pequeñas */
    width: 2.5rem; /* Ajuste del ancho del botón de confirmación para pantallas pequeñas */
    height: 2rem; /* Ajuste de la altura del botón de confirmación para pantallas pequeñas */
    box-sizing: border-box;
}

.flatpickr-innerContainer {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.campo2 {
    margin-top: 35px;
}

/* Estilos para el Modal */
.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed; /* Mantiene el modal en la misma posición al hacer scroll */
    z-index: 1; /* Asegura que el modal esté sobre otros contenidos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo de la ventana */
    height: 100%; /* Alto completo de la ventana */
    overflow: auto; /* Agrega scroll si el contenido es más alto que la ventana */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centra el modal en la pantalla */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    max-width: 600px; /* Ancho máximo del modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}
